# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
*.venv
venv/
ENV/
env/
*.egg-info/
dist/
build/
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebooks
.ipynb_checkpoints/

# OneDrive
*.one

# Others
*.sqlite3
*.db